*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(220,218,218);
}
.container{
    background-color: rgb(197, 197, 197);
    height:50vh;
    width:400px;
    border-radius:20px;
}
#title{
    margin-left:150px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:brown;
}
#inp{
    margin-left: 50px;
    padding:5px 5px;
    border-radius: 5px;
}
#btn{
    padding:5px 5px;
    border-radius: 4px;
    border:none;
    background-color: rgb(13, 105, 105);
}
.list-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(0,0,255);
    border:1px solid rgb(20,20,20);
    border-radius: 5px;
    padding: 5px 10px;
    width:90%;
    margin-top:10px;
}
.del-btn{
    padding:5px 5px;
    border-radius: 4px;
    border:none;
    color:white;
    background-color: rgb(248,22,10);
}
